{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{{title}}
		</title>
		<!-- AngularJS CSS -->
		<link rel="stylesheet" href="https://gitcdn.link/repo/angular/bower-material/master/angular-material.css">
	</head>
	<body data-ng-app="starterApp">
		<!-- AngularJS Javascript -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
		<script type="text/javascript">
			var app = angular.module('starterApp', []);
			// Django CSRF Protection
			app.config(function ($httpProvider) {
				$httpProvider.defaults.xsrfCookieName = 'csrftoken';
				$httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
			});
		</script>
		<header>
			<h1>Backend Demo</h1>
		</header>
		<section data-ng-controller="baseController">
			{% verbatim %}
			{% endverbatim %}
			Below showcases data we have. These data can be used for different kinds of visualization. Questions to answer:<br>
			<ul>
				<li>
					Each fire event has three names. Which name will you use?
				</li>
				<li>
					What do mean_potential_et and total_precip mean? Do you need them?
				</li>
			</ul>
			<style>
				table, th, tr {
					border: 1px solid black;
				}
			</style>
			<table >
				<tr>
					<th>
						Event
					</th>
					<th>
						Time (month-19XX)
					</th>
					<th>
						Location (latitude, longitude)
					</th>
					<th>
						Size (in acres)
					</th>
					<th>
						Maximum Temperature
					</th>
					<th>
						Wind Speed
					</th>
					<th>
						Name (3 names, have to choose one!)
					</th>
					<th>
						mean_potential_et
					</th>
					<th>
						total_precip
					</th>
				</tr>
				{% for fire in data %}
				<tr>
					<th >
						A Fire Event
					</th>
					<th>
						{{fire.time}}
					</th>
					<th>
						{{fire.lat}}, {{fire.long}}
					</th>
					<th>
						{{fire.area}}
					</th>
					<th>
						{{fire.max_temp}}
					</th>
					<th>
						{{fire.wind_speed}}
					</th>
					<th>
						{{fire.name}}
					</th>
					<th>
						{{fire.mean_potential_et}}
					</th>
					<th>
						{{fire.total_precip}}
					</th>
				</tr>
				{% endfor %}
			</table>
			<button data-ng-click="fire_ajax()">
				Fire Ajax
			</button>
		</section>
		<footer>
			<hr>
			<p>Wolverine Initiative. All Right Reserved 2017.</p>
		</footer>

		<script type="text/javascript" >
			app.controller("baseController", function($scope, $http){
				// send a ajax request!
				target_url = "/";
				$scope.fire_ajax = function(){
					$http.post(target_url, {"request_msg": "haha"})
					.then(function (response) {
						console.log("Ajax succeed la!");
						// $scope.fire_events = response.data["data"];
						// console.log($scope.fire_events);
					}, function (xhr, status, err) {
						console.log("Ajax error la!! Err msg:");
						console.error(target_url, status, err.toString(), xhr.responseText);
					});
				} 	
			});
		</script>
	</body>
</html>