{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<title>prevent and survive</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body class="prevent">
	<header class="otherTwo">
			<h2 ><a href="/">Wild Fire</a></h2>
			<nav>
				<ul>
					<li class = "samePageNav"><a href="#" >Prevent</a></li>
					<li class = "samePageNav"><a href="#survive" >Survive</a></li>
					<li><a href="/fire_map">Fire Viewer</a></li>
				</ul>
			</nav>
	</header>

	<!-- <section id = "prevent">

	</section> -->

	<section id = "survive">
		<dl>
			<dt>Leave the area</dt>
				<dd>
					Don’t wait around to see how things develop. Wildfires are so powerful, unpredictable, and destructive, that even well-equipped and trained professional fire fighters die when they become trapped by an onrushing blaze that overruns their position.
				</dd>
			<dt>Maintain situational awareness</dt>
				<dd>
					Be aware of what’s going on around you at all times. Simple but crucial.
				</dd>
			<dt>Choose downhill routes</dt>
				<dd>
					Fire moves faster uphill due to updrafts.
				</dd>
			<dt>Plan ahead</dt>
				<dd>
					Identify escape routes/safe zones where you could take shelter if a fire came roaring through the area. Safe zones include rivers, lakes (get in the water), or large level spots out in the open away from combustible material. Heat rises, so the safest zones are those that are downhill of the fire.
				</dd>
			<dt>Save yourselves!</dt>
				<dd>
					If you are trapped above a fire, get out as fast as you can. Don’t try to save any of your gear. Gear is replaceable, lives are not.
				</dd>
			<dt>Stay out of canyons</dt>
				<dd>
					Look for an escape route that leads downhill, but do not follow canyons, chutes or draws, as these act as chimneys that funnel deadly heat up the hill toward you.
				</dd>
			<dt>Get low</dt>
				<dd>
					If the flames are upon you, seek low ground — in a ditch or the notch in a forest road that will allow the superheated convective current to pass overhead. The lower you are the better your chances might be.
				</dd>
			<dt>Makeshift respirator</dt>
				<dd>
					Breathe inside your clothing next to your body to protect your respiratory tract so you don’t inhale hot gasses.
				</dd>
			<dt>Find burned-out area</dt>
				<dd>
					If you can find an area that has already burned over, leaving no residual fuel to reignite, that might be a safe place. But the ambient temperature of the scorched earth, rocks and timber will feel like an oven. Watch overhead to avoid snags and standing dead trees that might fall on you.
				</dd>
			<dt>Emergency fire shelter</dt>
				<dd>
					As a last resort or when escape is no longer an option, firefighters use a fire shelter.  It’s a highly-portable dome-shaped foil covering to hide under as the fire passes over. These shelters claim to reflect 95% of radiant heat. They’re fairly compact and lightweight, and cost $300-$400. But when a wall of fire is roaring toward you at 70 miles per hour, sounding like Hell’s freight train, and live embers are raining down like flaming hailstones, 400 bucks might not seem like a lot. We recommend this New Generation Fire Shelter with Case, $376.
				</dd>
		</dl>
	</section>

	<footer>
		<small class="tip"><a href="http://survivalkitguide.com/2012/wildfire-survival-tips/">tip source</a></small>
		<small>&copy; 2017 by: Paiju Chang / Sicun Chen / Shaung Cheng / Lihan Zhu</small>
	</footer>

</body>
</html>
